{% extends '_theme.html' %}

{% block content %}

<h3>Sua lista de trecos</h3>

<div class="list">

{% for treco in trecos %}

<div class="item">
    <img src="{{ treco.foto }}" alt="{{ treco.nome }}">
    <div>
        <h4>{{ treco.nome }}</h4>
        <button onclick="location.href='/view/{{ treco.id }}'">Ver</button>
        <button onclick="location.href='/edit/{{ treco.id }}'">Editar</button>
        <button onclick="location.href='/delete/{{ treco.id }}'">Apagar</button>
    </div>
</div>

{% endfor %}

</div>

{% endblock %}