{% extends '_theme.html' %}

{% block content %}

<div id="wrap">
    <nav>
        <button onclick="location.href='/'">Listagem geral dos trecos</button>
    </nav>

<h3>{{ treco.nome }}</h3>
<img src="{{ treco.foto }}" alt="{{ treco.nome }}" width="20%">
<div>{{ treco.descricao }}</div>
<ul>
    <li>Cadastrada em {{ treco.data }}</li>
    <li>Guardado em {{ treco.localizacao }}</li>
</ul>
<p>
    <button onclick="location.href='/edit/{{ treco.id }}'">Editar</button>
    <button onclick="if(confirm('Tem certeza?')) location.href='/delete/{{ treco. id }}'; return false">Apagar</button>
</p>
</div>

{% endblock %}